body{
  background-color: #FFB534;
}

.navbar{
  display: inline-block;
  background-color: #1D24CA;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  
  
}

.home, .services, .profile, .signin, .signout{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #333;
  }

.home{
  text-align: center;
  font-size: 15px;

  margin-left: 10px;
}
.profile{
  font-size: 15px;
  width: 60px;
}

.services{
  font-size: 15px;
}

.signin{
  width: 40px;
  font-size: 15px;
}

.signout{
  width: 50px;
  font-size: 15px;
}

.callForHelp{
  width: 340px;
  margin-left: 4px;
  margin-top:10px;
  border-radius: 5px;
}
.rent{
  width: 340px;
  margin-left: 4px;
  margin-top:7px;
  border-radius: 5px;
  height: 180px;
}
.box{
  width: 165px;
  margin-left: 4px;
  margin-top:7px;
  border-radius: 5px;
  height: 180px;
  color: white;
  text-align: center;
}
#box1{
  background-color: #ff5745;
}
#box2{
  margin-left: 175px;
  background-color: #14a5ff;
}
#box3{
  background-color: #1bd19b;
}
.homeBoxContent{
  padding-top: 25px;
  font-weight: 700;
  font-size: 25px;
}
.office{
  width: 340px;
  margin-left: 4px;
  margin-top:7px;
  border-radius: 5px;
  text-align: center;
  background-color: #6e5fc2;
  color: white;
}
.contactUs{
  width: 340px;
  margin-left: 4px;
  margin-top:7px;
  border-radius: 5px;
  text-align: center;
  background-color: #16acc9;
  color: white;
}
footer{
  text-align: center;
  opacity: 0.3;
  position:break;
  
}
